
		 <footer id="footer">{{ text_footer }}<br />{{ text_version }}</footer></div>
		 <script src="/admin/view/javascript/jquery/noty/packaged/jquery.noty.packaged.js" type="text/javascript"></script>
		 
</body></html>
